{% extends "::base.html.twig" %}
{% block title %}modulCRUDFrontendBundle:Services:ITConsultancy{% endblock %}
{% block body %}
<h2>IT CONSULTANCY | Consultation Service</h2>
  
<div class="row">
	<!-- Blog Posts Section -->
	<div class="col-md-9" >
			<!-- Blog Post -->
		<div class="row">
		<div class="col-md-12">
		<p><span style="font-size:14px">By means of those more than 18 years experiences in dealing with client&#39;s requirement and expectation, FACEBALI develop the consulting capabilities that can be classified into areas as:</span></p>
		<ol>
			<li><span style="font-size:14px"><strong><em>Assessment consultancy service</em></strong>, is the capability to support client to identified their IT need, by translating the business condition (pain or requirements) into IT function definition</span></li>
			<li><span style="font-size:14px"><em><strong>Development &amp; Implementation consultancy service</strong></em>, is the capability to develop a system to be used in client environment. Our capability covers both the development of new system (cuztomized develop for specific need) and/or implement a package system, modified to the client&#39;s need.&nbsp;&nbsp;</span></li>
			<li><span style="font-size:14px"><strong><em>Ad-Hoc (un-designed) consultancy service</em></strong>, is the capability to give consultation based on various cases in IT with non-IT solution, i.e procedural or policy base solution</span></li>
		</ol>
		<br>
		In some cases FACEBALI, FACEBALI deliver all these consultancy in a set of activities but in some case also, each of these consultation service can be deliver independently
		As a base of understanding in delivering this service, FACEBALI use the methodology developed from CMMI process and practices.
		The methodology used in FACEBALI project delivery processes is as follow:
		<br>
		<br>
		<img alt="" src="{{ asset('img/ServiceManagementMethodology.jpg') }}" style="height:337px; width:756px" />

		<p>Some keypoints of this methodology are :</p>
		<ol>
			<li>The project is divided into several phase starting from pre-sales to closing activity where there will be quality review (called control gate) as our way to assure the project is going in the right track</li>
			<li>Peer review will be conducted in each phase to monitor the progress of the project&nbsp;</li>
			<li>Each phase will have its own deliverable which need customer approval before continue to the next phase.&nbsp;</li>
		</ol>

		<p>&nbsp;</p>

		<p><strong><em>&nbsp;The methodology purpose is to help both of FACEBALI and customer to control the quality of the deliverables, productivity and effectiveness of the service implementation.&nbsp;</em></strong></p>

		<hr /></div>
		</div>
	</div>
</div>


{% endblock %}
