<!DOCTYPE html>
<html>
 {{ include('modulCRUDFrontendBundle::_header.html.twig') }}
  <body role="document">
	<!-- ===== PAGE LOADER GRAPHIC ===== -->
	
    <div class="container theme-showcase" role="main">
      <div class="jumbotron">
			{% block body %}
				<h1>FaceBali</h1>
				<p>This is a template showcasing the optional theme stylesheet included in Bootstrap. Use it as a starting point to create something more unique by building on or modifying it.</p>
			{% endblock %}
		</div>
    </div> <!-- /container -->	
	<div class="footer">
		{{ include('modulCRUDFrontendBundle::_footer.html.twig') }}
	</div>
</body>
</html>
