{% extends "::base.html.twig" %}

{% block title %}modulCRUDFrontendBundle:BusinessPartner:Testimonies{% endblock %}

{% block body %}
<h1>Welcome to the BusinessPartner:Testimonies page</h1>
{% endblock %}
