{% extends "::base.html.twig" %}

{% block title %}modulCRUDFrontendBundle:BusinessPartner:Testimonies{% endblock %}

{% block body %}
<h2 class="uppercase">Testimonials</h2>
<div class="fullwidth-section">
	<!-- Start Testimonials Traditional Display -->
	<div class="row">
	<div class="col-md-12">
		<h3 class="thin" style="margin-bottom: 40px">What our customers are saying about us</strong></h3>
	</div>
</div>
		<!-- ========== START TESTIMONIALS ========== -->
		<div class="row testimonials">
        <!-- ========== TESTIMONIAL #1 ========== -->                        
			<div class="col-md-4 h_me">
				<div class="verbatim" id="test-pop1">
“This is part of our strategic alliance for trusting FACEBALI to involve in growing KTB business through IT.
In fact, we can focus for managing our core business in automotive industry, and let FACEBALI empowers IT with their expertise. FACEBALI delivered value, accelerated KTB business process and system. We have to acknowledge that SAP implementation which is managed and initiated by FACEBALI was dramatic improvement for KTB system.
KTB enjoys managing supply chain, easy to manage more than hundred vendors, quick responsive for rapidly market demand, and effective in decision making process.
In the end, we have to utilize outsourcing model benefits, and FACEBALI is one of best alternatives.”
              </div>
                                <hr/>
				<div class="row" style="margin-top: 20px">
					<div class="col-md-12">
						<div class="pull-left-testimony" >
							<span class="color-primary" style="font-weight: bold;">F. Kuwayama</span><br/>                                                        
                            <span class="color-primary" style="font-size: 12px;">
                            Former President Director
                            </span><br/>        
							<span class="color-primary" style="font-size: 12px;">PT Krama Yudha Tiga Berlian Motors</span> 
                                                </div>
					</div>
				</div>
			</div>
			
                    			<!-- ========== TESTIMONIAL #1 ========== -->                        
			
			<div class="col-md-4 h_me">
				<div class="verbatim" id="test-pop1">
                                                                            “It has been a pleasure, personally and professionally to be working with FACEBALI, and the team assigned to the SAP project or other MKM IT requirements, such as development of HRM system, and Networking installation. In SAP Implementation that Went- Live on 3rd May, 2004, we deeply appreciate the hard work that the consultants have put during the project. ”
                                                                    </div>
                                <hr/>
				<div class="row" style="margin-top: 20px">
					<div class="col-md-12">
						
						<div class="pull-left-testimony" >
							<span class="color-primary" style="font-weight: bold;">S. SUTANTO</span><br/>                                                        
                                                        <span class="color-primary" style="font-size: 12px;">
                                                                                                                            Former Director
                                                                                                                    </span><br/>
                                                        
							<span class="color-primary" style="font-size: 12px;">PT Mitsubishi Krama Yudha Motors &amp; Manufacturing</span> 
                                                </div>
					</div>
				</div>
			</div>
			
     </div>
<!-- ========== END TESTIMONIALS ALT ========== -->
</div>
</div>
<!-- =============================================== -->
<!-- ================ END TESTIMONIALS ============== -->
<!-- =============================================== -->



{% endblock %}
