{% extends "::base.html.twig" %}

{% block title %}Home{% endblock %}
{% block body %}
	<img src="{{ asset('img/banner.jpg') }}" style="float:left; height:300px; width:1015px"/><br>
	<h1>Selamat Datang di Halaman Facebali</h1>


{% endblock %}