<div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav in" id="side-menu">
                        <li>
                            <a href="{{ path('modul_crud_back_end_dasboard')}}"><i class="fa fa-home fa-fw nav_icon"></i>Home</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-laptop nav_icon"></i>Banner Management</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-indent nav_icon"></i>Menu Manegement</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-users nav_icon"></i>Client Manegement</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-user nav_icon"></i>User Manegement</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-briefcase nav_icon"></i>Job Vacancy Manegement</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-calendar nav_icon"></i>Monthly Report</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-exchange nav_icon"></i>Network Performance</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-ticket nav_icon"></i>Ticket Manegement</a>
                        </li>
                        
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
